# Don't use quotes( " and ' )

API_ID=37733847
API_HASH=d1ff3f8299a98f329d2c72b0905537b4
SESSION=+91 84630 89313
REDIS_URI=redis-cli -u redis://default:@redis-18328.c267.us-east-1-4.ec2.cloud.redislabs.com:18328
REDIS_PASSWORD=9zW61yblSalQIQYXRt8pcqpvodLp2AYP
